.split-container {
  display: flex;
  flex-direction: row;
}

.fill-height {
  width: 100%;
}

/* pre {
  white-space: normal;
  word-wrap: break-word;
  max-width: 50vw;
} */

/* 2-27 */
/* This guarantees it always takes up space */
/* .split-container > div {
  min-width: 400px; 
} */
